<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packages>
    <package id="Veldrid" Version="4.7.0-ge562009c27" />
    <package id="Veldrid.ImGui" Version="5.70.0-ge562009c27" />
    <package id="Veldrid.SDL2" Version="4.7.0-ge562009c27" />
    <package id="Veldrid.StartupUtilities" Version="4.7.0-ge562009c27" />
  </packages>
  <packageSources>
    <add key="MyGet - Mellinoe" value="https://www.myget.org/F/mellinoe/api/v3/index.json" />
  </packageSources>
</configuration>
